In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data={'Centigrade':[25,30,33,35,37,40],'Farhenheit':[77,86,91.4,95.0,98.6,104.0]}
data

{'Centigrade': [25, 30, 33, 35, 37, 40],
 'Farhenheit': [77, 86, 91.4, 95.0, 98.6, 104.0]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

   Centigrade  Farhenheit
0          25        77.0
1          30        86.0
2          33        91.4
3          35        95.0
4          37        98.6
5          40       104.0

In [ ]:
df.columns

Index(['Centigrade', 'Farhenheit'], dtype='object')

In [ ]:
X = df[['Centigrade']]
X

   Centigrade
0          25
1          30
2          33
3          35
4          37
5          40

In [ ]:
y=df[['Farhenheit']]
y

   Farhenheit
0        77.0
1        86.0
2        91.4
3        95.0
4        98.6
5       104.0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [ ]:
X_train

   Centigrade
4          37
2          33
1          30
3          35

In [ ]:
y_train

   Farhenheit
4        98.6
2        91.4
1        86.0
3        95.0

In [ ]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [ ]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
prediction=lm.predict([[48]])
prediction

array([[118.4]])